
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center ;
  }

  .main_container {
    @apply w-full bg-mainBG min-h-screen flex justify-center items-center flex-col py-10 px-6;
  }

  .heading {
    @apply text-headline text-3xl font-semibold;
    font-family: var(--font-figtree);
  }
  
  .content_text {
    @apply text-text text-base;
    font-family: var(--font-inter);
  }

  }


.w-md-editor-toolbar {
  padding: 10px !important;
}

